body{
    display: flex;
    background-color: rgba(132, 225, 246, 0.907);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

#miles_input{
    height: 40px;
}

#enter_miles{
    height: 70px;
    width: 180px;
    border-radius: 20px;
    border-width: 1px;
    font-size: 25px;
    background-color: white;
}

#enter_miles:hover{
    background-color: rgb(158, 158, 158);
}

#enter_miles:active{
    background-color: white;
}

#sheet_link{
    display: flex;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
